<h1 class="animated fadeIn"> About Calfu </h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img src="../../../assets/img/space_lion.jpg" class="img-fluid" alt="space_lion">
        <br><br>
    </div>

    <div class="col-md-8">
        <h3> My Bio </h3>
        <hr>
        <!-- <p> {{heroe.bio}} </p> -->
        <div>
            <!-- <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="assets/img/Marvel.png" alt="Marvel">
            <img *ngIf="heroe.casa == 'DC'" class="img-logo" src="assets/img/DC.png" alt="DC"> -->
        </div>
    </div>
    <div class="">
        <button class="login100-form-btn" type="submit">
            Editar
        </button>
    </div>
</div>