<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Configuración
                    </span>
                <!-- <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span> -->
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="file" name="imagenes" required email placeholder="Cargar Imagen">

                    <span class="focus-input100"></span>
                </div>

                <!-- <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span> -->
                <div class="wrap-input100 m-b-16">
                    <button class="login100-form-btn" type="submit">
                        Usuario Nuevo
                    </button>
                </div>


                <div class="wrap-input100 m-b-16">
                    <button class="login100-form-btn" type="submit">
                        Quitar Imagenes
                    </button>
                </div>


            </form>
        </div>
    </div>
</div>